body{
  padding: 50px 150px;
}

.form input{
  padding: 10px 20px;
}

.form button{
  padding: 10px 50px;
  background-color:green;
  color: white;

}

.card{
  border: 1px solid black;
  margin-top: 15px;
  padding: 10px;
  width: 30%;
}